<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
        <div v-if="showingBookTitle">
            <p>{{bookTitle}} - {{author}} - {{age}}</p>
        </div>

      <button v-on:click="age++;">Increase age</button>
      <button v-on:click="age--;">Decrease age</button>

      <div @click="changeBookTitle('Other title')">Change book title</div>

      <button @click="toggleBookTitle">
        <span v-if="showingBookTitle">Hide books</span>
        <span v-else>Show books</span>
        <!-- <span v-if="!showingBookTitle">Show books</span> 
        Removes from DOM
        -->
      </button>

      <div v-show="showingBookTitle">Currently showing books.</div>
      <!-- Removes using CSS -->
    </div>
    <script src="app.js"></script>
  </body>
</html>
